
body {
	background-image: url('/pw_pattern.png');
}

.tweet-container {
	margin: 20px 0px;
	padding-top: 10px;
	border-top: 1px solid #999;
	max-width: 568px;
}

blockquote.twitter-tweet {
	display: inline-block;
	padding: 16px;
	margin: 10px 0;
	/*  max-width: 468px; */
	width: 568px;

	border: #ddd 1px solid;
	border-top-color: #eee;
	border-bottom-color: #bbb;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);

	font: bold 14px/18px Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
}

blockquote.twitter-tweet p {
	font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
	margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
	font-weight: normal;
	color: #666;
	font-size: 12px;
}

blockquote .original-tweet {
	float: left;
	width: 468px;
	border-right: 1px solid #999;
	margin-right: 5px;
}

blockquote .retweet-count {
	margin-top: 10px;
	margin-right: 5px;
	float: right;
	width: 50px;
}

.tweet-count {
	font-size: 2.0em;
}

.retweets-text {
	font-size: 0.8em;
	margin-top: 5px;
	color: #999;
}